<style>
  .container { width: 800px; font-family: Arial, Helvetica, sans-serif; margin:
  0 auto; display: flex; justify-content: center; align-items: center;
  flex-direction: column; } p { font-size: 16px; line-height: 1.5; margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" alt="Rentx" />
  <p>Hello, {{name}},</p>
  <br />
  <p>Someone requested a password reset for your account.</p>
  <p>If this was you, click the link below to reset your password.</p>
  <p><a href="{{link}}">{{link}}</a></p>
  <p>If you didn't request a password reset, please ignore this email.</p>
  <br />
  <p>Thank you,</p>
  <p>Rentx Team</p>
</div>